*{padding: 0;
margin: 0;
box-sizing: border-box;}
body{
   background-color: #F2F5F9; 
}
.container{
    padding-top: 7%;    
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.card{
    width: 410px;
    background-color: #FFFFFF;
    /* border:black 1px solid; */
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.title{
    padding-left: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #F2F5F9;
}

.hero{
    background-color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    /* width: 500px; */
}

.hero img {
    width: 410px;
    border-radius: 10px 10px 0px 0px;
}

.svg{
    top: 42.7%;
    position:absolute;
    /* bottom: 50px; */
}

.autor{
    margin-left: 30px;
}
.autor img{
    width:50px;
    padding: 5px;
    background-color: #F2F5F9;
    border-radius: 100%;
}